#!/bin/bash
# routiva-Autorstart custom script
# Location /home/routiva/
[Desktop Entry]
Type=Application
Name=TRoutivacam
Exec=ffmpeg -input_format mjpeg -f video4linux2 -video_size 800x600 -framerate 30 -i /dev/video0 -c:v copy -an -f rtsp rtsp://localhost:8554/routivacam2 -rtsp_transport tcp
